{% extends 'skeleton.html' %}
{% import 'macros.html' as macros %}

{# required: username, accounts, page, pages, app #}
{% block title %}Account Manager{% endblock %}
{% block head %}
  {{ super() }}
  <style>
    div.account_sitename {
        font-weight: bold;
    }
    div.account_identifier {
        padding-left: 4px;
        font-style: italic;
    }
    ul.accounts {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li.account {
        margin: 8px;
        padding: 8px 12px;
        border-left: 4px solid orange;
    }
    ul.pages {
        list-style-type: none;
        margin: 0;
        padding: 0;
        border-collapse: collapse;
    }
    li.page {
        padding: 4px;
        border: 1px solid black;
        background-color: white;
        color: black;
        float: left;
    }
    li.page a {
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
    li.current {
        padding: 4px;
        border: 1px solid black;
        background-color: black;
        color: white;
        float: left;
    }
    li.current a {
        color: white;
        font-weight: bold;
        text-decoration: none;
    }
    li.clear_pages {
        clear: left;
    }
  </style>
{% endblock %}

{% block header %}
  {{ macros.login_header(username) }}
  {{ macros.message_flashes(get_flashed_messages(with_categories=true)) }}
{% endblock %}

{% block main %}
  <div class="tool">
    {{ macros.goto('Write new one', url_for('account.new')) }}
  </div>
  <ul class="accounts">
    {% for account in accounts %}
      <li class="account">
        <div class="account_sitename">
          {{ account.sitename }}
        </div>
        <div class="account_identifier">
          {% if account.userid != '' %}
            <p>ID: {{ account.userid }}</p>
          {% elif account.email != '' %}
            <p>E-Mail: {{ account.email }}</p>
          {% elif account.phone != '' %}
            <p>Phone: {{ account.phone }}</p>
          {% else %}
            <p>(Unnamed user)</p>
          {% endif %}
        </div>
        <div class="account_menu">
          {{ macros.goto("Detail", url_for('account.show', id=account.id)) }}
          <a href="{{ url_for('account.delete', id=account.id) }}"
             onclick="delete_confirm(event);">
            Delete
          </a>
        </div>
      </li>
    {% else %}
      <li>Nothing here! :(</li>
    {% endfor %}
  </ul>
  <ul class="pages">
    {% with %}
      {% set s = ((page-1)//10)*10 + 1 %}
      {% set e = (((page-1)//10)+1)*10 %}
      {% if e > 10 %}
        <li class="page">
          {{ macros.goto('1', url_for('account.show_all', page=1, app=app)) }}
        </li>
        <li class="page">
          {{ macros.goto('...', url_for('account.show_all', page=(s-1), app=app)) }}
        </li>
      {% endif %}
      {% for p in range(s, ([e, pages]|min)+1) %}
        <li class="{{ "current" if (p == page) else "page" }}">
          {{ macros.goto(p|string, url_for('account.show_all', page=p, app=app)) }}
        </li>
      {% endfor %}
      {% if e < ((pages-1)//10)*10 + 1 %}
        <li class="page">
          {{ macros.goto('...', url_for('account.show_all', page=(e+1), app=app)) }}
        </li>
        <li class="page">
          {{ macros.goto(pages|string, url_for('account.show_all', page=pages, app=app)) }}
        </li>
      {% endif %}
      <li class="clear_pages"></li>
    {% endwith %}
  </ul>
{% endblock %}

{% block footer %}
  {{ macros.goto("Go Home", url_for('index')) }}
{% endblock %}

{% block script %}
  <script>
    var delete_confirm = function delete_confirm(event) {
        var r = confirm("Do you really want to delete this account?");
        if (r != true) {
            event.preventDefault();
        }               
    }
  </script>
{% endblock %}
