{% extends 'skeleton.html' %}
{% import 'macros.html' as macros %}
{% block title %}HOME{% endblock %}

{% block header %}
  {% if 'userid' in session %}
    {{ macros.login_header(session['username']) }}
  {% endif %}
  {{ macros.message_flashes(get_flashed_messages(with_categories=true)) }}
{% endblock %}

{% block main %}
  <p>This is home.</p>
  <h2>Sitemap</h2>
  <ul>
    {% if 'userid' not in session %}
      <li>User
        <ul>
          <li>{{ macros.goto("Register", url_for('user.new_form')) }}</li>
          <li>{{ macros.goto("Sign in", url_for('user.auth_form')) }}</li>
        </ul>
      </li>
    {% else %}
      <li>User
        <ul>
          <li>{{ macros.goto("My information", url_for('user.show')) }}</li>
          <li>{{ macros.goto("Sign out", url_for('user.auth_destroy')) }}</li>
        </ul>
      </li>
      <li>Services
        <ul>
          <li>{{ macros.goto("Memos", url_for('article.show_all')) }}</li>
        </ul>
      </li>
    {% endif %}
  </ul>
{% endblock %}
