{% extends 'modify.html' %}

{% block form %}
  <form action="{{ url_for('user.modify_password') }}" method="POST"
        id="mod_form" >
    <table>
      <tr>
        <td>Current Password</td>
        <td><input type="password" name="currentpass"
                   id="currentpass" /></td>
      </tr>
      <tr>
        <td>New Password</td>
        <td><input type="password" name="password"
                   id="password" /></td>
      </tr>
      <tr>
        <td>Check Your Password</td>
        <td><input type="password" id="checkword" /></td>
      </tr>
    </table>
    <input type="submit" />
  </form>
{% endblock %}

{% block validation %}
  <script>
    var form = document.getElementById("mod_form");
    var current = document.getElementById("currentpass");
    var password = document.getElementById("password");
    var checkword = document.getElementById("checkword");
    form.addEventListener("submit", function(event) {
        if (current.value == "" ||
            password.value == "" ||
            checkword.value == "") {
            alert("Please complete form.");
            event.preventDefault();
        } else if (password.value != checkword.value) {
            alert("Passwords are not consistent.");
            event.preventDefault();
        }
    });
  </script>
{% endblock %}
